<h1>Pages#about</h1>
<% test = User.new "name"=>"Fung Fung" %>
<% test.email="Fung@hotmail.com" %>
<% test.password="fungahotmailcom" %>
<% test.save %>
<p>Find me in app/views/pages/about.html.erb</p>
